html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Background and general styling */

body {
    background: linear-gradient(to right, #141e30, #243b55); /*dark blue gradient */
    color: #ffffff; /* White text for contrast */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
}
/*Center Content vertically and horizontally*/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /*full viewport height*/
    text-align: center;
    padding: 20px;  
}
/*Headline styling**/
    .main-content h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        
    }
    /*Subtitle or tagline */
    .main-content p {
        font-size: 1.5rem;
        opacity: 0.8;   
    }

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}